:root {
    --shadow-color: hsla(43, 12%, 12%, 0.253);
    --text-color: #211F1A;
    --background-color: #FDE6B5;
    --complementary-color: #ddbb72;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: url(imgs/hexagon.webp);
    background-repeat: repeat;
}


a{
    text-decoration: none;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    height: 6em;
}

nav .left a {
    color: var(--text-color);
    font-size: 2em;
    font-weight: 600;
}

nav .right {
    display: flex;
}

nav .right a {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    margin: 0 -1px;
    background-color: var(--background-color);
    padding: 0.5em 1em;
    border: 2px solid var(--text-color);
    border-radius: 0.8em;
    transition: 0.3s ease-in-out;
}

nav .right a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

/**LANDING PAGE **/
/* SECTION 1 */
.main-section{
    display: flex;
    flex-direction: column;
    padding: 0 3em;
    margin: 12em 0;
}

.main-section .text {
    max-width: 800px;
    margin: 0 0 2em 0;
    font-weight: 600;
}

.main-section .text h2 {
    font-size: 6em;
    color: var(--text-color);
    line-height: 1em;
    font-weight: 600;
}

.main-section .buy-button {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.main-section .buy-button h3{
    margin-right: 0.5em;
    font-size: 2em;
    font-weight: 400;
}

.main-section .buy-button a{
    padding: 0.5em 1em;
    /* margin-top: 2em; */
    border: var(--text-color) 2px solid;
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--background-color);
    border-radius: 0.5em;
    transition: 0.3s;
}

.main-section .buy-button a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    transform:translateX(10px);
}

/* SECTION 2 */
.testimony {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8em 3em;
    margin: 3em 0;
    gap: 3em;
}

.testimony .text h2 {
    font-size: 3em;
}

.testimony .text p {
    font-size: 2.5em;
}

.testimony .headshot img {
    border-radius: 50%;
    box-shadow: 0 4px 4px var(--shadow-color);
}


/** SHOP **/

/* SECTION 1 */
.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8em 3em;
    gap: 10em;
}

.product .information h1 {
    color: var(--text-color);
    font-size: 6em;
    font-weight: 600;
    line-height: 1em;
}

.product .information .title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1em 0;
}

.product .information .title h2 {
    font-size: 3em;
}

.product .information hr {
    color: var(--text-color);
    stroke-width: 2px;
}
.product .information .specs {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.product .information .specs ul{
    list-style-type: none;
    text-align: left;
}

.product .information .specs :last-child{
    list-style-type: none;
    text-align: right;
}

.product .information h3 {
    margin-top: 1em;
    font-size: 1em;
}

.product .information p {
    font-size: 1em;
}

.product .information .buy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin: 2em 0;
}

.product .information .buy h2 {
    font-size: 1em;
    font-weight: 400;
}

.product .information .buy button {
    cursor: pointer;
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    border-radius: 0.5em;
    padding: 0.2em 1em;
    color: var(--text-color);
    font-family: "DM Sans", sans-serif;
    font-size: 2em;
    font-weight: 600;
    transition: 0.3s;
}

.product .information .buy button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.product .image img {
    width: 600px;
    border-radius: 1em;
    box-shadow: 0 4px 4px var(--shadow-color);
}

/** MEET THE TEAM **/

/* SECTION 1 */
.team {
    display: flex;
    flex-direction: column;
    margin: 6em 3em;
}

.team .text {
    margin: 4em 0;
}

.team .text h2 {
    font-size: 6em;
    font-weight: 600;
}

.team .text p {
    font-size: 1.5em;
}

.team .team-cards {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
}

.team .team-cards .card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1em 2em;
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    border-radius: 1em;
    margin-bottom: 2.5em;
    transition: 0.3s ease-in-out;
    /* box-shadow: 0 4px 4px var(--shadow-color); */
}

.team .team-cards .card:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}

.team .team-cards .card h3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.team .team-cards .card img {
    width: 256px;
    border-radius: 1em;
    margin-bottom: 1em;
}

.team .team-cards .card h4 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.team .team-cards .card p {
    margin-bottom: 0.5em;
}

/** WHO WE ARE **/

/* SECTION 1 */
.hero {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    margin-bottom: 6em;
}

.hero .image {
    margin-bottom: 1em;
    flex: 8;
}

.hero .image img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.hero .text {
    margin: 0 3em;
    flex: 2;
}

.hero .text h2 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
}

/* SECTION 2 */
.source {
    display: flex;
    align-items: center;
    margin: 6em 0;
}

.source .image {
    flex: 6;
}
.source .image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.source .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3em;
    flex: 4;
}

.source .text h3 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
}

.source .text p {
    font-size: 1.5em;
}

.source .text ul li {
    font-size: 1.5em;
    list-style-position: inside;
}

.source .text a {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 2em;
    font-weight: 600;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin-top: 1em;
    transition: 0.3s;
    border: 2px solid var(--text-color);
}

.source .text a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    transform:translateX(20px);
}


/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--text-color);
    color: var(--background-color);
    height: 100vh;
}

footer .call-to-action {
    padding: 0 3em;
    margin-bottom: 8em;
}

footer .call-to-action h2 {
    font-size: 4em;
    font-weight: 400;
}

footer .call-to-action h2 span {
    font-weight: 900;
}

footer .call-to-action .form-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .call-to-action .form-div img{
    width: 500px;
    object-fit: contain;
}

footer .call-to-action .form-div form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 500px;
    margin-top: 2em;
}

footer .call-to-action .form-div form input,
footer .call-to-action .form-div form textarea{
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    background-color: transparent;
    color: var(--background-color);
    border: 2px solid var(--background-color);
    padding: 0.5em;
    resize: none;
    border-radius: 0.5em;
}

footer .call-to-action .form-div form button {
    background-color: var(--background-color);
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

footer .information {
    padding: 0 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

footer .logo img{
    max-width: 2000px;
}